nav{
    background-color: rgb(230, 223, 223);
    padding: 50px;
    height: 350px;
    text-align: left;
}

p{
    font-size: 30px;
}

h3{
   font-size: 30px;
}

.lmore{
    background-color: rgb(170, 170, 228);
}


.parent{
    display: flex;
    justify-content: space-between;

}

.child{
    padding: 20px;
    margin: 20px;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}